.animals-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 500px;
}

.card-wrapper,
.hero-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 100%;
  height: 100vh;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.7s ease-in-out;
}

.hero-wrapper {
  position: relative;
  margin: 0 auto;
  width: min(100%, 60rem);
  height: 40vh;
  transform: scale(0.8) rotate(0deg);
}

.hero-wrapper:hover {
  transform: scale(1.1);
}

.card-wrapper.scale-up {
  transform: scale(1) rotate(0deg);
}

ion-card.animal-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  --background: url(../assets/images/covers/animal-cover.png) center/contain
    no-repeat;
}

ion-card.animal-game-card,
ion-card.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  --background: url(../assets/images/covers/animal-cover.png) center/contain
    no-repeat;
  transition: all 0.7s ease-in-out;
}

ion-card.hero {
  --background: url(../assets/images/covers/color-cover.png) center/contain
    no-repeat;
  transition: all 0.5s ease-in-out;
}

ion-card.animal-game-card.scale-up,
.scale-up {
  animation: scale-up 0.7s forwards;
}

ion-card.hero.scale-up {
  animation: scale-up 0.5s forwards;
}

ion-card.animal-game-card.scale-down,
ion-card.hero.scale-down,
.scale-down {
  animation: scale-down 0.7s forwards;
}

ion-card.animal-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 50%;
  flex: 1 1 auto;
  --background: transparent;
}

.card-wrapper:first-child {
  transform: scale(0.6) rotate(0deg);
}

.card-wrapper.scale-up:first-child {
  transform: scale(1) rotate(0deg);
}

/* Style for odd cards (2, 4, 6, ...) */
.card-wrapper:nth-child(2n) {
  transform: scale(0.6) rotate(-4deg);
}

.card-wrapper.scale-up:nth-child(2n) {
  transform: scale(1) rotate(2deg);
}

/* Style for even cards (3, 5, 7, ...) */
.card-wrapper:nth-child(2n + 1):not(:first-child) {
  transform: scale(0.6) rotate(4deg);
}

.card-wrapper.scale-up:nth-child(2n + 1):not(:first-child) {
  transform: scale(1) rotate(-2deg);
}

/* Custom styles for cards 13 and 14 */
.card-wrapper:nth-child(13),
.card-wrapper:nth-child(14) {
  transform: scale(0.6) rotate(-5deg);
}

.card-wrapper.scale-up:nth-child(13),
.card-wrapper.scale-up:nth-child(14) {
  transform: scale(1) rotate(0deg);
}

/* Scale up animation for when the cards appear */
@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Scale down animation for when the cards disappear */
@keyframes scale-down {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.filled-letter {
  animation: scale-up 0.7s forwards;
}

.clicked-letter {
  animation: scale-down 0.7s forwards;
}
