/* FLASH */

/* Flash container */
.flash {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.flash .explode {
  width: 20vmin;
  height: 20vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  will-change: opacity, filter, transform;
  opacity: 0;
}

.flash .explode.explode-card {
  width: 6rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  will-change: opacity, filter, transform;
  opacity: 0;
}

.flash .explode::before {
  content: '';
  background-image: url('../assets/images/sprites/flash-sprite.png');
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 500% 500%; /* 5 frames horizontally and vertically */
  background-position: 0 0%; /* Initial positioning */
  background-repeat: no-repeat;
  max-width: 100%;
  will-change: opacity;
}

/* Start animation on click */
.flash.active .explode {
  opacity: 1;
  animation:
    explode 0.5s steps(6) forwards,
    explode-filters 0.5s forwards;
}
.flash.active .explode.explode-earth {
  opacity: 1;
  animation:
    explode-earth 0.5s steps(3) linear,
    explode-filters 0.5s forwards;
}

.flash.active .explode::before {
  opacity: 1;
  animation: explode 0.5s steps(6) forwards;
}

.flash.active .explode.explode-earth::before {
  opacity: 1;
  animation:
    explode-earth 0.5s steps(3) forwards,
    explode-filters 0.5s forwards;
}

.flash.active.number-btn {
  position: relative;
  width: 15vmin;
  height: 15vmin;
  background: transparent;
  box-shadow: none;
}

.flash.active.number-btn::before {
  content: '';
  border: none;
  background-image: none;
  background: transparent;
  box-shadow: none;
}

@keyframes explode {
  0% {
    background-position: 0 0; /* 1st frame 1st row */
  }
  10% {
    background-position: -166.67px 0; /* 2nd frame 1st row */
  }
  20% {
    background-position: -333.33px 0; /* 3rd frame of 1st row */
  }
  30% {
    background-position: 0 -166.67px; /* 1st frame of 2nd row */
  }
  40% {
    background-position: -166.67px -166.67px; /* 2nd frame of 2nd row */
  }
  50% {
    background-position: -333.33px -166.67px; /* 3rd frame of 2nd row */
  }
  60% {
    background-position: 0 -333.33px; /* 1st frame of 3rd row */
  }
  70% {
    background-position: -166.67px -333.33px; /* 2nd frame of 3rd row */
  }
  80% {
    background-position: -333.33px -333.33px; /* 3rd frame of 3rd row */
  }
  100% {
    background-position: -500px -333.33px; /* 1st frame of 3rd row */
  }
}

@keyframes explode-earth {
  0% {
    background-position: 0 0; /* 1st frame, 1st row */
  }
  25% {
    background-position: -166.66px 0; /* 2nd frame, 1st row */
  }
  50% {
    background-position: -333.32px 0; /* 3rd frame, 1st row */
  }
  75% {
    background-position: -166.66px 0; /* 2nd frame, 1st row */
  }
  100% {
    background-position: 0 0; /* 1st frame, 1st row */
  }
}

@keyframes explode-filters {
  0% {
    filter: blur(0px) brightness(1) contrast(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    filter: blur(2px) brightness(1.2) contrast(1.5);
  }
  100% {
    filter: blur(8px) brightness(0.5) contrast(1);
    opacity: 0;
  }
}
