body {
  background: linear-gradient(
    to top,
    rgb(1, 3, 0) 50%,
    rgb(9, 22, 0) 70%,
    rgb(25, 63, 0) 80%,
    rgba(48, 125, 0, 0.92) 90%,
    rgb(251, 255, 0) 100%
  );
}

/* Hide scrollbar in Webkit browsers */
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* Hide scrollbar for IonContent in Chrome, Safari */
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar in Firefox for IonContent */
ion-content::part(scroll) {
  scrollbar-width: none;
}

ion-content {
  width: calc(100% + 0.9375rem);
}

ion-content::part(scroll) {
  padding-right: 0.9375rem;
  padding-left: 0.5375rem;
}

ion-content {
  --overflow-x: hidden; /* Hide horizontal scrollbar */
  --overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on touch devices */
  --background: transparent;
}

ion-modal {
  --height: 100%;
  --width: 100%;
}

ion-title.custom {
  letter-spacing: 0.25em;
}

.main-title {
  background: url(../assets/images/common/wooden-frame.png) center/contain
    no-repeat;
}

ion-menu::part(backdrop) {
  --background-color: rgba(1, 50, 18, 0.823);
}

ion-menu::part(container) {
  box-shadow: 4px 0px 6px rgba(2, 19, 0, 0.842);
}

ion-menu .menu-img {
  width: 9.75rem;
  height: 3rem;
}

@media screen and (max-width: 575px) {
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  }
}

.menu {
  --background: radial-gradient(
    circle at 50% 120%,
    #001700 30%,
    #059413 80%,
    #002309 100%
  );
}

.toolbar-menu {
  --background: linear-gradient(180deg, #001700, #004807);
}

ion-menu-button {
  --background: url(../assets/images/common/wooden-square.png) center/cover
    no-repeat;
}

.main-bg {
  --background: radial-gradient(
      circle at 50% 120%,
      #000000 30%,
      #05941300 80%,
      #000501ae 100%
    ),
    url(../assets/images/layer-base.jpg) bottom/cover no-repeat;
}

.mistary-game-bg {
  --background: radial-gradient(
      circle at 50% 120%,
      #000000 30%,
      #05941300 80%,
      #000401e5 100%
    ),
    url(../assets/images/mistary-bg.webp) bottom/cover no-repeat;
}

@media screen and (min-width: 1220px) {
  .mistary-game-bg {
    --background: radial-gradient(
        circle at 50% 120%,
        #000000 30%,
        #ddff0000 80%,
        #000401e5 100%
      ),
      url(../assets/images/covers/cover-bg-1.jpg) bottom/cover no-repeat;
  }
}

.colors-game-bg {
  --background: radial-gradient(
      circle at 50% 120%,
      #000000 30%,
      #05941300 80%,
      #000401e5 100%
    ),
    url(../assets/images/treasure.jpg) bottom/cover no-repeat;
}

.letters-game-bg {
  --background: radial-gradient(
      circle at 50% 120%,
      #000000 30%,
      #05941300 80%,
      #000401e5 100%
    ),
    url(../assets/images/stage-b-letters.jpg) bottom/cover no-repeat;
}

.numbers-game-bg {
  --background: radial-gradient(
      circle at 50% 120%,
      #000000 30%,
      #05941300 80%,
      #000401e5 100%
    ),
    url(../assets/images/covers/cover-bg-2.jpg) bottom/cover no-repeat;
}

ion-button.custom-circle {
  --border-radius: 50%;
  --background: url(../assets/images/common/wooden-circle.png) center/cover
    no-repeat;
  --background-hover: none;
  --background-activated: none;
  --background-focused: none;
}

ion-button.wooden-btn {
  --background: url(../assets/images/common/wooden-frame.png) center/contain
    no-repeat;
  --background-hover: none;
  --background-activated: none;
  --background-focused: none;
  --color: #ffffff;
  --box-shadow: 0 4px 6px rgb(0, 0, 0), 0 1px 3px rgba(0, 0, 0, 1);
  --transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

ion-button.wooden-btn:hover,
ion-button.wooden-btn:focus,
ion-button.wooden-btn:active {
  --transform: translateY(2px);
  --box-shadow: 0 2px 4px rgb(0, 0, 0), 0 1px 2px rgb(0, 0, 0);
}

ion-button.btn-transparent {
  --background: #22610000 !important;
}

ion-button.custom-circle::part(native) {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-active {
  animation: spin 1s linear infinite;
  will-change: transform;
}

ion-button.btn-gradient {
  z-index: 10;
  top: 1%;
  right: 1.875rem;
  --background: linear-gradient(45deg, #226100, #03f327, #226100);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  --background-hover: linear-gradient(-45deg, #226100, #eeff00, #226100);
  --background-activated: linear-gradient(
    -45deg,
    rgb(15, 41, 1),
    #03f327,
    #226100
  );
  --background-focused: var(--ion-color-primary);
  --color: #ffffff;
  --box-shadow: 0 2px 6px 0 #b7ff00;
  text-shadow: 0px 0.5008px 0.5008px #011605;
  font-weight: 700;
}

.drop-shadow-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #f4f4f4, #fde213, #ff8c00);
  filter: blur(10px);
  z-index: -1;
  opacity: 0.7;
}

.bg-gradient-toolbar {
  background-image: linear-gradient(
    90deg,
    #e16e09 10%,
    #ffa600 50%,
    #f08000 90%
  );
}

/* skeleton */

ion-skeleton-text {
  --background: #357001df;
  --background-rgb: 53, 112, 1;
}

/* STAGE */
.stage-category {
  display: flex;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}

.blob {
  width: 25vmin;
  height: 25vmin;
  aspect-ratio: 1;
  border-radius: 50%;
}

.ball {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.blob:first-of-type {
  animation: slide 5s infinite alternate ease-in-out;
}

.blob:nth-of-type(2) {
  animation: slide-2 5s infinite alternate ease-in-out;
}
.blob:nth-of-type(3) {
  animation: slide-3 7s infinite alternate ease-in-out;
}
.blob:nth-of-type(4) {
  animation: slide-2 8s infinite alternate ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}
@keyframes slide-2 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes slide-3 {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.ball-abc {
  background:
    url(../assets/images/books/light-scroll.png) center/60% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #81f683,
      #76ef82 10%,
      #059413 80%,
      #064516 100%
    );
  animation: abc-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #21a300,
    0px 5px 0px 0px #00590f,
    0px 10px 5px #031800;
}

.ball-abc-game {
  background:
    url(../assets/images/books/basic-scroll.png) center/80% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #81f683,
      #76ef82 10%,
      #059413 80%,
      #064516 100%
    );
  animation: abc-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #21a300,
    0px 5px 0px 0px #00590f,
    0px 10px 5px #031800;
}

.ball-activity {
  background:
    url(../assets/images/common/rock.png) center/80% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #81f683,
      #76ef82 10%,
      #059413 80%,
      #064516 100%
    );
  animation: abc-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #21a300,
    0px 5px 0px 0px #00590f,
    0px 10px 5px #031800;
}

.ball-colors {
  background:
    url(../assets/images/colors/bottles/navy-potion.png) center/80% auto
      no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #acf3f5,
      #b4edf3 10%,
      #71a8d9 80%,
      #061e45 100%
    );
  animation: colors-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #b4edf3,
    0px 5px 0px 0px #71a8d9,
    0px 10px 5px #061e45;
}
.ball-numbers {
  background:
    url(../assets/images/category-number.png) center/60% auto no-repeat,
    url(../assets/images/colors/stones/orange-1.png) bottom/20% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #ffc8a3,
      #ffa143 10%,
      #fd6100 80%,
      #450606 100%
    );
  animation: colors-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #ffa143,
    0px 5px 0px 0px #fd6100,
    0px 10px 5px #450606;
}

.ball-animals {
  background:
    url(../assets/images/common/pink-bird.png) center/70% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #e0ffa3,
      #5fff43 10%,
      #e4fd00 80%,
      #eaff00 100%
    );
  animation: abc-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #72fe1b,
    0px 5px 0px 0px #33fd00,
    0px 10px 5px #06450e;
}
.ball-animals-game {
  background:
    url(../assets/images/common/bird.png) center/50% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #e0ffa3,
      #5fff43 10%,
      #e4fd00 80%,
      #eaff00 100%
    );
  animation: abc-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #72fe1b,
    0px 5px 0px 0px #33fd00,
    0px 10px 5px #06450e;
}

.ball-colors-game {
  background:
    url(../assets/images/colors/treasure-chest.png) center/80% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #acf3f5,
      #b4edf3 10%,
      #71a8d9 80%,
      #061e45 100%
    );
  animation: colors-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #b4edf3,
    0px 5px 0px 0px #71a8d9,
    0px 10px 5px #061e45;
}

.ball-numbers-game {
  background:
    url(../assets/images/drag-here.png) left/30% auto no-repeat,
    url(../assets/images/common/fire-dragon.png) center/50% auto no-repeat,
    radial-gradient(
      circle at 50% 120%,
      #ffc8a3,
      #fcb874 10%,
      #fd6100 80%,
      #450606 100%
    );
  animation: colors-anim 5s linear infinite;
  box-shadow:
    inset 0px 1px 0px #ffa143,
    0px 5px 0px 0px #fd6100,
    0px 10px 5px #450606;
}

.ball:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 20%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
}

.ball-game:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 20%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
}

.ball .shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  transform: rotateX(90deg) translateZ(-150px);
}

@keyframes abc-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%,
  100% {
    transform: scale(1);
  }
}

@keyframes colors-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleX(0.95) scaleY(1.05);
  }
  48% {
    transform: scaleX(1.1) scaleY(0.9);
  }
  68% {
    transform: scaleX(0.98) scaleY(1.02);
  }
  80% {
    transform: scaleX(1.02) scaleY(0.98);
  }
  97%,
  100% {
    transform: scale(1);
  }
}

@keyframes colors-game-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.98) scaleX(1.01);
  }
  48% {
    transform: scaleY(1.01) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%,
  100% {
    transform: scale(1);
  }
}

/* TABS */

.custom-fab {
  position: fixed;
  bottom: 5%;
  left: 44%;
  transform: translateX(-45%);
  z-index: 999999;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 0;
  height: 0;

  background-color: transparent;
}

.custom-fab ion-fab-button::part(native) {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;

  background-color: #379d04;
  width: 50px;
  height: 50px;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0 0 0 5px #d56c2f;
  color: #011605;
}

.ion-palette-dark .custom-fab ion-fab-button::part(native) {
  color: #011605;
}

.custom-fab ion-fab-button::part(native):hover::after {
  background-color: #67c13a;
}

.custom-fab ion-fab-button::part(native):active::after {
  background-color: #52ab25;
}

ion-tab-bar {
  overflow: visible !important;
  border: unset;
}

@media screen and (min-width: 480px) {
  .custom-fab {
    bottom: 4%;
    left: 43%;
  }

  .custom-fab ion-fab-button::part(native) {
    bottom: 4%;
    left: 50%;
  }
}

@media screen and (min-width: 576px) {
  .custom-fab {
    bottom: 4%;
    left: 43%;
  }

  .custom-fab ion-fab-button::part(native) {
    bottom: 4%;
    left: 50%;
  }
}

@media screen and (min-width: 768px) {
  .custom-fab {
    bottom: 3%;
    left: 48%;
  }

  .custom-fab ion-fab-button::part(native) {
    bottom: 3%;
    left: 50%;
  }
}

.color-game-list {
  position: relative;
}

.color-game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.letter-card {
  height: 4rem;
  --background: url(../assets/images/covers/animal-cover.png) center/cover
    no-repeat;
  background: url(../assets/images/covers/animal-cover.png) center/cover
    no-repeat;
}

ion-card.card-transparent {
  --background: transparent;
}

/* SWIPER */

.swiper.mySwiper.swiper-cube {
  min-width: unset !important;
  overflow: hidden;
  border-radius: 20px;
}
