.swiper.swiper-cube {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  padding: 0.5rem;
  cursor: grab;
}

.swiper-slide.item-slide {
  background-color: rgb(199, 116, 0);
  background-image: url(../assets/images/common/wooden-bigboard.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid rgba(48, 1, 1, 0.3);
  user-select: none;
  border-radius: 0.5rem;
  box-shadow:
    inset 1px 1px 5px rgb(239, 206, 192),
    inset 1px 1px 5px rgb(188, 85, 1);
}

/* .swiper-slide.item-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: var(--glitter), var(--glitter),
    linear-gradient(180deg, black 0%, white 80%);
  background-size:
    300px 170px,
    280px 130px,
    200% 200%;
  background-blend-mode: multiply, multiply, overlay;
  background-position:
    0px 0px,
    0px 0px,
    50% 100%;
  mix-blend-mode: color-dodge;
  filter: brightness(2) contrast(0.75);
  animation: bubble 20s linear infinite;
  border-radius: 5em;
  opacity: 0.5;
} */

.swiper-slide.item-slide.color-slide {
  background-image:
    url(../assets/images/common/wooden-frame.png),
    url(../assets/images/covers/color-cover.png) center/cover no-repeat;
}

.swiper-cube {
  overflow: hidden;
}

.letter-thumb {
  aspect-ratio: 1/1;
}
