.rules-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  color: #ffffff;
}

.modal-rules {
  --background: linear-gradient(
      90deg,
      #10100fa8 5%,
      #000000e4 50%,
      #0000008f 100%
    ),
    url(../assets/images/common/bg-sign.webp) center/cover no-repeat;
}

.rules-inner-wrapper {
  width: 100%;
  border-radius: 1.25rem;
}

.rules-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
  max-width: 100%;
  width: 85%;
}

.rules-description {
  margin: 0 auto;
  max-width: 100%;
  width: 85%;
  color: #ffffff;
  padding: 10px;
}

.special-font {
  font-family: 'YourFont', sans-serif;
}

.rules-description ul {
  list-style-type: square;
  padding-left: 1.25rem;
}

.rules-description ul ul {
  list-style-type: disc;
}
