.mySwiper.intro-swiper {
  position: relative;
  width: 100%;
  height: 25rem;
  border-radius: 1.25rem !important;
  background-color: transparent;
}

@media screen and (min-width: 48rem) {
  .mySwiper.intro-swiper {
    width: 100%;
    max-width: 43.625rem;
    height: 50vh;
    border-radius: 1.25rem !important;
  }
}

.swiper-slide.intro-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  border-radius: 1.25rem !important;
}

.main-gradient-overlay {
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    rgb(1, 3, 0) 50%,
    rgb(9, 22, 0) 70%,
    rgb(25, 63, 0) 80%,
    rgba(48, 125, 0, 0.92) 90%,
    rgb(251, 255, 0) 100%
  );
}

.gradient-bottom-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.625rem 1.25rem;

  width: 100%;
  height: 15rem;
  background: linear-gradient(
    to top,
    rgba(5, 13, 0, 1) 50%,
    rgba(5, 13, 0, 0.75) 70%,
    rgba(5, 13, 0, 0.5) 80%,
    rgba(5, 13, 0, 0.25) 90%,
    rgba(5, 13, 0, 0) 100%
  );
  color: #fff;
  border-radius: 1.25rem;
}

.gradient-top-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 15rem;
  background: linear-gradient(
    to bottom,
    rgba(5, 13, 0, 1) 0%,
    rgba(5, 13, 0, 0.75) 20%,
    rgba(5, 13, 0, 0.5) 40%,
    rgba(5, 13, 0, 0.25) 60%,
    rgba(5, 13, 0, 0) 100%
  );
  border-radius: 1.25rem;
}

.swiper.mySwiper.swiper-cube {
  min-width: unset !important;
  overflow: hidden;
  border-radius: 1.25rem !important;
  background-color: transparent;
}
