.color-card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px #3d151596;
  background: radial-gradient(
    circle at 50% 120%,
    #ffffff,
    #fff0db 10%,
    #ffe2bc 80%,
    #f8cf89
  );
  animation: colors-game-anim 5s linear infinite;
}

.color-matched-card {
  width: 10vmin;
  height: 10vmin;
  background: radial-gradient(
    circle at 50% 120%,
    #ffffff,
    #fff0db 10%,
    #ffe2bc 80%,
    #f8cf89
  );
  animation: none;
}

.letter-matched-card {
  background: url(../../../assets/images/covers/animal-cover.png) center/contain
    no-repeat;
  transition: all 0.7s ease-in-out;
}

.letter-matched-card:hover {
  transform: scale(1.5);
}

.ion-palette-dark .color-card {
  border-radius: 1rem;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px #3d151596;
  background: radial-gradient(
    circle at 50% 120%,
    #ffffff,
    #d46300c0 10%,
    #542700f3 80%,
    #3d1515
  );
}

.ion-palette-dark .color-card.color-game-card,
.color-game-card,
.ion-palette-dark .letter-card.letter-game-card,
.letter-game-card {
  padding: 4px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px #3d151596;
  background: radial-gradient(
    circle at 50% 120%,
    #ffffff,
    #d46300c0 10%,
    #542700f3 80%,
    #3d1515
  );
  animation: colors-game-anim 7s linear infinite;
}

.wooden-game-card {
  width: 10vmin;
  height: 10vmin;
  padding: 2px;
  object-fit: contain;
  background: url(../../../assets/images/common/wooden-bigboard.png)
    center/contain no-repeat;
}

.face {
  height: 100%;
  width: 100%;
}

.back {
  height: 100%;
  width: 100%;
}

.color-card .face {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
  transform: rotateY(90deg);
  transition: all ease-in 0.25s;
}

.letter-card .face {
  object-fit: contain;
  transform: none;
}

.color-card.color-game-card .face {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
  transform: rotateY(180deg);
  transition: all ease-in 0.25s;
}

.flip .face {
  transform: rotateY(0deg);
  transition-delay: 0.25s;
}

.color-card .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../../../assets/images/dragon-game.png) center/60% no-repeat;
  transition: all ease-in 0.25s;
  transition-delay: 0.25s;
}

.flip .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.aspect-square {
  position: relative;
  width: 100%;
}

.aspect-square:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.aspect-square > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  background: radial-gradient(
    circle at 50% 120%,
    #81f683,
    #76ef82 10%,
    #059413 80%,
    #064516 100%
  );
}

.modal-text {
  font-size: 2.75rem;
  line-height: 1;
}

/* PROGRESS OF SCORE */
.container-progress {
  height: 0.3125rem;
  background: var(--ion-color-warning);
  border-radius: 0.625rem;
  box-shadow: 0 0 30px 1px var(--ion-color-warning);
  border: 1px solid var(--ion-color-primary);
}

.progress {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background: radial-gradient(
    circle at 50% 120%,
    #a0fb03,
    #5cfd6c 10%,
    #059413 80%,
    #064516 100%
  );
  border-radius: 0.625rem;
  width: var(--bar-filled);
  transition: width 0.5s ease-in-out;
}

.progress-candle {
  position: absolute;
  top: -0.125rem;
  width: 0.5rem;
  height: 0.5rem;
  background: radial-gradient(
    circle at 50% 120%,
    #ffe606,
    #9cff50 10%,
    #059413 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 20px 10px var(--ion-color-secondary);
  transform: translateX(calc(var(--candle-position) - 0.5rem));
  transition: transform 0.5s ease-in-out;
}
